*{
  line-height: 1.4;
  font-variant: small-caps;
  font-size: 16px;
  
	margin: 0;
	padding: 0;




}

.span-id{
	color:red;
}



 .header {
background-color: #2ecc71;
 padding: 20px ;
 -webkit-box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
 -moz-box-shadow:    0px 3px 5px rgba(100, 100, 100, 0.49);
 box-shadow:         0px 3px 5px rgba(100, 100, 100, 0.49);
 background-position: fixed;
 }

 .admin{
   height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signIn{
	height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu{
	height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button{

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.img{
	border-radius: 50%;
}

.addheader{
	text-align: center;
}

.menuHeader{
	text-align: center;


}


